@page "/akademisyen_Danismanlik_Mezun"

@using Syncfusion.Blazor.Navigations


<div class="control-section e-tab-section card">
    <SfTab @ref="Tab" CssClass="BlazorTab" LoadOn="ContentLoad.Dynamic">
        @*Selected="OnTabSelected" Selecting="OnTabSelecting"*@
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Mezuniyet Onay Bekleyenler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    @*<MezuniyetBekleyen></MezuniyetBekleyen>*@
                    <AkaDanismanlikMezunBekleyen></AkaDanismanlikMezunBekleyen>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Mezuniyet Onaylılar"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    @*<Mezun></Mezun>*@
                    <AkaDanismanlikMezunOlmus></AkaDanismanlikMezunOlmus>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>
