@page "/akademisyen/DersNot"
@page "/akademisyen/DersNot/{SpesificDersAcilan:int}"
@using Syncfusion.Blazor.Navigations
@using UniLife.CommonUI.Pages.Akademisyen.AkaDersNotlarTab
@using UniLife.Shared.Dto.Definitions

@attribute [Authorize(Roles = "Administrator,Personel,Akademisyen")]

@*sınavları listeleyecez
    seçilen sınavın öğrencilerini açacak notlar girilecek.*@

<div class="control-section e-tab-section">
    <SfTab @ref="DersNotTab" LoadOn="ContentLoad.Dynamic">
        @*Selected="OnTabSelected" Selecting="OnTabSelecting"*@
        <TabEvents Created="TabCreate" Selecting="OnTabSelecting"></TabEvents>
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Dersler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <AkaDersler SpesificDersAcilan="SpesificDersAcilan" SinavToNotlar="SinavToNotlar"></AkaDersler>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Öğrenci Notları"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    @*<AkaOgrSnvNots _dersAcilanDto="_dersAcilanDto"></AkaOgrSnvNots>*@
                    <AkaNotlar _SinavDto="_SinavDto"></AkaNotlar>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ders Sonuç Harflendirme"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <AkaHarflendir _SinavDto="_SinavDto"></AkaHarflendir>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>

@code{

    SfTab DersNotTab;

    [Parameter]
    public int SpesificDersAcilan { get; set; } = 0;

    //AkademisyenSinavDto _AkademisyenSinavDto;

    SinavDto _SinavDto;

    //int _dersAcilanId;
    DersAcilanDto _dersAcilanDto;

    public void TabCreate()
    {
        DersNotTab.EnableTab(0, true);
        DersNotTab.EnableTab(1, false);
    }
    public void OnTabSelecting(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
        if (args.SelectedIndex == 0)
        {
            DersNotTab.EnableTab(1, false);
        }
    }

    //public void SinavToNotlar(AkademisyenSinavDto AkademisyenSinavDto)
    //{
    //    _AkademisyenSinavDto = AkademisyenSinavDto;
    //    TabDegis(1);
    //}

    //public void DerslerToOgrNotlar(DersAcilanDto dersAcilanDto)
    //{
    //    _dersAcilanDto = dersAcilanDto;
    //    TabDegis(1);
    //}

    public void SinavToNotlar(SinavDto sinavDto)
    {
        _SinavDto = sinavDto;
        TabDegis(1);
    }




    public void TabDegis(int tabIndex)
    {
        DersNotTab.EnableTab(0, true);
        DersNotTab.EnableTab(1, tabIndex > 0);
        DersNotTab.Select(tabIndex);
    }
}