@page "/akademisyen/Danismanlik"

@inject HttpClient Http;
@inject IMatToaster matToaster
@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Data
@using UniLife.CommonUI.Pages.Admin.OgrenciIslem.OgrenciIslemTabs
@inject AppState appState

<div class="control-section e-tab-section">
    <SfTab @ref="DanismanTab" LoadOn="ContentLoad.Dynamic">
        @*Selected="OnTabSelected" Selecting="OnTabSelecting"*@
        <TabEvents Created="TabCreate" Selecting="OnTabSelecting"></TabEvents>
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Dersler"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                    <SfGrid ID="grdOgr" @ref="grdOgr" TValue="OgrenciDto" Toolbar="@(Toolbaritems)" AllowPaging="true">
                        <SfDataManager Url="odata/ogrencis/GetForDanisman" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
                        <GridEvents TValue="OgrenciDto" OnToolbarClick="ToolbarClickHandler" CommandClicked="CommandClickHandler"></GridEvents>
                        <GridColumns>
                            <GridColumn Visible="false" Field=@nameof(OgrenciDto.Id) HeaderText="Id" AllowEditing="false" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.Ad) HeaderText="Ad"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.Soyad) HeaderText="Soyad"></GridColumn>
                            <GridColumn Field=@nameof(OgrenciDto.OgrNo) HeaderText="OgrNo"></GridColumn>
                            <GridColumn>
                                <GridCommandColumns>
                                    <GridCommandColumn Type="CommandButtonType.None" Title="Ders Kayıt Onayı" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-DoubleArrowRight", CssClass="e-flat",Content="Ders Onay " })"></GridCommandColumn>
                                </GridCommandColumns>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>

                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Öğrenci Ders Onay"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    @*TODO: Ders Onay ekranı nasıl yapılsın. Full mu küçük mü?*@
                    <DersKayit _OgrenciDto="_OgrenciDto"></DersKayit>
                </ContentTemplate>
            </TabItem>

        </TabItems>
    </SfTab>
</div>

@code{

    public OgrenciDto _OgrenciDto { get; set; } = new OgrenciDto();

    SfTab DanismanTab;


    SfGrid<OgrenciDto> grdOgr;

    //string gridOdata = "odata/ogrencis/GetForDanisman";

    private List<Object> Toolbaritems = new List<Object>() { "ExcelExport", "CsvExport", "PdfExport" };
    //, new ItemModel() { Text = "Derse Yoklama", TooltipText = "Derse Yoklama", PrefixIcon = "e-click", Id = "Yokalama" }
    //, new ItemModel() { Text = "Kayıtlı Öğrenciler", TooltipText = "Kayıtlı Öğrenciler", PrefixIcon = "e-click", Id = "Kayitlilar" }};

    public async Task ToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "Yokalama")
        {

        }
        else if (args.Item.Id == "Kayitlilar")
        {

        }
    }

    public void CommandClickHandler(CommandClickEventArgs<OgrenciDto> args)
    {
        if (args.CommandColumn.Title == "Ders Kayıt Onayı")
        {
            _OgrenciDto = args.RowData;
            appState.OgrenciState = args.RowData;

            DanismanTab.HideTab(1, false);
            DanismanTab.EnableTab(1, true);
            DanismanTab.Select(1);

            //_OgrenciDto = args.RowData;
            //appState.OgrenciState = _OgrenciDto;
            //OgrenciToAkademik.InvokeAsync(_OgrenciDto);

        }
    }

    public void TabCreate()
    {
        DanismanTab.EnableTab(0, true);
        DanismanTab.EnableTab(1, false);
        DanismanTab.HideTab(1, true);
    }
    public void OnTabSelecting(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
        if (args.SelectedIndex == 0)
        {
            DanismanTab.EnableTab(1, false);
            DanismanTab.HideTab(1, true);
        }
    }
}

<style>
    .e-DoubleArrowRight:before {
        content: '\e7bb';
        color: #3ec9e8 !important;
    }
</style>
