@page "/tanimlar"
@inject HttpClient Http;
@using Semerkand.Shared.Dto.Definitions
@using Semerkand.CommonUI.Pages
@using Semerkand.CommonUI.Pages.Definations.Tabs 
@inject IMatToaster matToaster

    <MatTabGroup>

        <MatTab Label="Üniversite">

            <UniversiteList></UniversiteList>

        </MatTab>
        <MatTab Label="Fakülte">
            @*<Semerkand.CommonUI.Pages.Definations.Tabs.GenericDefination ApiAdres="api/universite"
                                                                         EntityName="Universite">
                <GridColumn Field=@nameof(UniversiteDto.Ad) HeaderText="Üniversite İsim" ValidationRules="@(new { required=true})" Width="170"></GridColumn>

            </Semerkand.CommonUI.Pages.Definations.Tabs.GenericDefination>*@


            <FakulteList></FakulteList>


        </MatTab>
        <MatTab Label="Bölüm">
            <BolumList></BolumList>
        </MatTab>
        <MatTab Label="Program">
            <ProgramList></ProgramList>
        </MatTab>
        @*<MatTab Label="Müfredat">
             <LabelContent>
                Third <MatIcon Icon="@MatIconNames.Close"></MatIcon>
            </LabelContent>
            <ChildContent>
                Ders
            </ChildContent>
            <SfCalendar TValue="DateTime?" Value="@DateValue"></SfCalendar>
            <DialogEditing></DialogEditing>


        </MatTab>*@
        <MatTab Label="Harç">
            <HarcList></HarcList>
        </MatTab>

    </MatTabGroup>


@*<button @onclick="@Switch">Switch</button>*@

@code{
    public bool Visible { get; set; }
    public DateTime? DateValue { get; set; } = DateTime.Now;
    


}