@page "/"

@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Grids

@using Semerkand.CommonUI.Components.Grid.DataGrid

<h1>Örnek Gridimiz - CRUD</h1>
<p>
    Örnek Gridmiz, Örnek Gridmiz, Örnek Gridmiz, Örnek Gridmiz, Örnek Gridmiz, Örnek Gridmiz, Örnek Gridmiz,
</p>
@*<SfGrid DataSource="@EmpList"></SfGrid>*@

<DialogEditing></DialogEditing>

@*<CultureChooser />*@

@code{
    public class Emp
    {
        public int EmpId { get; set; }
        public string Name { get; set; }
    }

    public List<Emp> EmpList { get; set; }

    protected override void OnInitialized()
    {
        EmpList = Enumerable.Range(1, 75).Select(x => new Emp()
        {
            EmpId = 100 + x,
            Name = "ahmet"
        }).ToList();
    }

    bool lazySnackbarIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(TimeSpan.FromSeconds(3)).ContinueWith((_) =>
        {
            this.lazySnackbarIsOpen = true;
        });
    }

    public void Dispose()
    {
    }
}

