@page "/MezuniyetBitir"
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using Syncfusion.Blazor.Data
@using UniLife.Shared.Dto.Definitions
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Navigations



<div class="control-section e-tab-section card">
    <SfTab @ref="Tab" CssClass="BlazorTab" LoadOn="ContentLoad.Demand">
        @*Selected="OnTabSelected" Selecting="OnTabSelecting"*@
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Mezuniyet Onay Bekleyenler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <MezuniyetBekleyen></MezuniyetBekleyen>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Mezuniyet Onaylılar"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Mezun></Mezun>
                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>
