@page "/deneme"
@page "/File-Upload/Default-Functionalities"
@using Syncfusion.Blazor.Inputs
@using System.IO;

@inherits SampleBaseComponent;
<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <SfUploader ID="UploadFiles" DropArea=".control-fluid" MinFileSize=10000 MaxFileSize=1000000>
            <UploaderEvents ValueChange="OnChange" OnRemove="onRemove"></UploaderEvents>
            @*<UploaderAsyncSettings SaveUrl="http://localhost:53414/services/api/uploadbox/Save" RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"></UploaderAsyncSettings>*@
            <UploaderFiles>
                <UploaderUploadedFiles Name="1" Size=12000 Type=".png"></UploaderUploadedFiles>
            </UploaderFiles>
        </SfUploader>
    </div>
</div>
<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
    }
</style>
@code {
    public void OnFileRemove(RemovingEventArgs args)
    {
        args.PostRawFile = false;
    }

    private void onRemove(RemovingEventArgs args)
    {
        foreach (var removeFile in args.FilesData)
        {
            var rootPath = @"../UniLife.CommonUI/wwwroot/images/ogrenci/";
            if (File.Exists(Path.Combine(rootPath, removeFile.Name)))
            {
                File.Delete(Path.Combine(rootPath, removeFile.Name));
            }
        }
    }

    private void OnChange(UploadChangeEventArgs args)
    {
        foreach (var file in args.Files)
        {
            //var path = @"path" + file.FileInfo.Name;
            var path = @"../UniLife.CommonUI/wwwroot/images/ogrenci/" + file.FileInfo.Name;

            FileStream filestream = new FileStream(path, FileMode.Create, FileAccess.Write);
            file.Stream.WriteTo(filestream);
            filestream.Close();
            file.Stream.Close();
        }
    }
}