@page "/admin/ogrenci_islem"
@using Syncfusion.Blazor.Navigations
@using Semerkand.CommonUI.Pages.Admin.OgrenciIslem.OgrenciIslemTabs
@using Semerkand.Shared.Dto.Definitions

<div class="control-section e-tab-section">
    <SfTab @ref="Tab" CssClass="BlazorTab" LoadOn="ContentLoad.Dynamic">
        @*Selected="OnTabSelected" Selecting="OnTabSelecting"*@
        <TabEvents Created="TabCreate" Selecting="OnTabSelecting"></TabEvents>
        <TabItems>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Öğrenciler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <Ogrenciler OgrenciToAkademik="OgrenciToAkademik"></Ogrenciler>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Akademik Bilgiler"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <OgrenciDuzenle _OgrenciDto="_OgrenciDto"></OgrenciDuzenle>
                </ContentTemplate>
            </TabItem>
            <TabItem>
                <ChildContent>
                    <TabHeader Text="Ders Kayıt"></TabHeader>
                </ChildContent>
                <ContentTemplate>

                </ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
</div>




@code{

    SfTab Tab;
    public OgrenciDto _OgrenciDto { get; set; } = new OgrenciDto();

    public void TabDegis(int tabIndex)
    {
        Tab.EnableTab(0, true);
        Tab.EnableTab(1, tabIndex > 0);
        Tab.Select(tabIndex);
    }

    public void OgrenciToAkademik(OgrenciDto ogrenciDto)
    {
        _OgrenciDto = ogrenciDto;
        TabDegis(1);
    }

    public void TabCreate()
    {
        Tab.EnableTab(0, true);
        Tab.EnableTab(1, true);
        Tab.EnableTab(2, false);
    }

    //public void OnTabSelected(SelectEventArgs args)
    //{
    //    StateHasChanged();
    //}
    public void OnTabSelecting(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }
}




<style>
    /*.tab_content .e-content .e-item {
        font-size: 12px;
        padding: 10px;
        text-align: justify;
        background-color: red;
    }*/

    .e-tab .e-tab-header::before {
        border-color: #69e0f0;
        border-style: solid;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active {
        border: 1px solid #dee2e6;
        background-color: #69e0f0;
    }

    .e-tab .e-tab-header:not(.e-vertical) .e-toolbar-item.e-active {
        border-bottom: 1px solid #69e0f0;
    }
</style>