<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        
            @ChildContent
    </div>
</div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}