@using Syncfusion.Blazor.Navigations
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@attribute [Authorize(Policy = Policies.IsAdmin)]
@inject HttpClient Http
@inject IMatToaster matToaster
@using Newtonsoft.Json
@using UniLife.Shared.Dto.Definitions
@using UniLife.CommonUI.Pages.Admin.AkademisyenIslem.AkademisyenIslemTabs.AkademisyenlerTabs
@using Syncfusion.Blazor.SplitButtons
@using System.Reflection;
@inject AppState appState



<ControlSection>
        <SfGrid ID="OgrGrid" @ref="OgrGrid" AllowSorting="true" AllowFiltering="true" AllowPaging="true" DataSource="@AkaGridDtos">
            @*OnActionFailure="ActionFailureHandler"  OnActionBegin="ActionBeginHandler" DetailDataBound="DetailDataBound" RowDataBound="RowBound"*@
            <GridEvents TValue="AkademisyenDto" DetailDataBound="DetailDataBound" CommandClicked="CommandClickHandler" OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompletedHandler"></GridEvents>
            <GridTemplates>
                <DetailTemplate>
                    @{
                        var akademisyenDto = (context as UniLife.Shared.Dto.Definitions.AkademisyenDto);
                    }
                    <div style="padding:20px">
                        <SfTab LoadOn="ContentLoad.Dynamic">
                            <TabEvents Selecting="OnTabSelecting"></TabEvents>
                            <TabItems>
                                <TabItem>
                                    <ChildContent>
                                        <TabHeader Text="Details"></TabHeader>
                                    </ChildContent>
                                    <ContentTemplate>
                                        <AkademisyenBilgi _AkademisyenDto="akademisyenDto"></AkademisyenBilgi>
                                    </ContentTemplate>
                                </TabItem>
                                <TabItem>
                                    <ChildContent>
                                        <TabHeader Text="Roles"></TabHeader>
                                    </ChildContent>
                                    <ContentTemplate>
                                        <AkademisyenRoles _AkademisyenDto="akademisyenDto"></AkademisyenRoles>
                                    </ContentTemplate>
                                </TabItem>
                                <TabItem>
                                    <ChildContent>
                                        <TabHeader Text="Report"></TabHeader>
                                    </ChildContent>
                                    <ContentTemplate>
                                    </ContentTemplate>
                                </TabItem>
                            </TabItems>
                        </SfTab>
                    </div>
                </DetailTemplate>
            </GridTemplates>
            <GridColumns>
                <GridColumn Visible="false" Field=@nameof(AkademisyenDto.ApplicationUserId) HeaderText="AppUserId" AllowEditing="false" IsPrimaryKey="true" TextAlign="TextAlign.Left"></GridColumn>
                <GridColumn Field=@nameof(AkademisyenDto.Ad) HeaderText="Ad"> </GridColumn>
                <GridColumn Field=@nameof(AkademisyenDto.Soyad) HeaderText="Soyad"></GridColumn>
                <GridColumn Field=@nameof(AkademisyenDto.TCKN) HeaderText="TCKN"></GridColumn>
                <GridColumn Field=@nameof(AkademisyenDto.OgrtNo) HeaderText="Akademisyen No"></GridColumn>
                <GridColumn>
                    <GridCommandColumns>
                        <GridCommandColumn Type="CommandButtonType.None" Title="Akademik Bilgiler" ButtonOption="@(new CommandButtonOptions() { IconCss = " e-icons e-DoubleArrowRight", CssClass="e-flat" })"></GridCommandColumn>
                    </GridCommandColumns>
                </GridColumn>
            </GridColumns>
        </SfGrid>
        <div class="col-12 text-right">
            <SfProgressButton OnClick="AddNew" Content="Yeni Akademisyen Kaydı >" CssClass="center-block e-primary">
                <ProgressButtonSpinSettings Position="SpinPosition.Right"></ProgressButtonSpinSettings>
            </SfProgressButton>
        </div>


</ControlSection>

@code{


    public SfGrid<AkademisyenDto> OgrGrid;
    AkademisyenDto target;

    List<AkademisyenDto> AkaGridDtos = new List<AkademisyenDto>();

    public AkademisyenDto _AkademisyenDto { get; set; } = new AkademisyenDto();

    protected override void OnInitialized()
    {
        ReadAkademisyens();
    }

    void ReadAkademisyens()
    {
        //ApiResponseDto<List<AkademisyenDto>> apiResponse = await Http.GetFromJsonAsync<ApiResponseDto<List<AkademisyenDto>>>($"api/Admin/GetAkademisyenUsers?pageSize={10}&pageNumber={0}");
        ApiResponseDto<List<AkademisyenDto>> apiResponse = Http.GetFromJsonAsync<ApiResponseDto<List<AkademisyenDto>>>("api/akademisyen").Result;


        if (apiResponse.StatusCode == Status200OK)
        {
            matToaster.Add(apiResponse.Message, MatToastType.Success, "Akademisyenler getirildi");
            AkaGridDtos = apiResponse.Result;
        }
        else
        {
            matToaster.Add(apiResponse.Message + " : " + apiResponse.StatusCode, MatToastType.Danger, "Akademisyen bilgisi getirilirken hata oluştu!");
        }
    }



    public async void ActionCompletedHandler(ActionEventArgs<AkademisyenDto> args)
    {
        var FilterApplied = OgrGrid.FilterSettings.Columns; // to get filtered column details
                                                            //var GroupingApplied = OgrGrid.GroupSettings.Columns; // to get grouped column details
                                                            //var SortingApplied = OgrGrid.SortSettings.Columns; // to get sorted column details
                                                            //var Columns = await OgrGrid.GetColumns(); // to get columsn details like visibility and other properties

    }



    public void ActionBeginHandler(ActionEventArgs<AkademisyenDto> args)
    {

    }



    [Parameter]
    public EventCallback<AkademisyenDto> AkademisyenToBilgiler { get; set; }

    public void CommandClickHandler(CommandClickEventArgs<AkademisyenDto> args)
    {
        if (args.CommandColumn.Title == "Akademik Bilgiler")
        {
            _AkademisyenDto = args.RowData;
            appState.AkademisyenState = _AkademisyenDto;
            AkademisyenToBilgiler.InvokeAsync(_AkademisyenDto);

        }
    }


    async Task AddNew()
    {
        await AkademisyenToBilgiler.InvokeAsync(new AkademisyenDto());
    }
    public void OnTabSelecting(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }

    public async Task DetailDataBound(DetailDataBoundEventArgs<AkademisyenDto> args)
    {
        if (target != null)
            await OgrGrid.DetailExpandCollapseRow(target);
        target = args.Data;
    }
}



<style type="text/css" class="cssStyles">
    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }

    .title {
        font-size: medium;
        font-weight: 400;
    }

    .content {
        font-size: medium;
        color: #6c757d
    }

    .e-tab .e-content {
        overflow-y: hidden;
    }

    .e-tab .e-tab-header {
        border: 0;
    }

    .e-DoubleArrowRight:before {
        content: '\e7bb';
        color: #e83e8c;
    }
</style>