@page "/admin_blazor_middlware_audit"

@inject HttpClient Http
@inject IMatToaster matToaster
@using Syncfusion.Blazor.Data
@using UniLife.Shared.DataModels
@attribute [Authorize(Roles = "Administrator")]

@using static Microsoft.AspNetCore.Http.StatusCodes

<h1>Log Sistemi</h1>
<p>
    Kullanıcı request loglarına bu sayfadan ulaşabilirsiniz.
</p>

<SfGrid TValue="ApiLogItem" AllowSorting="true" AllowResizing="true" AllowPaging="true" AllowFiltering="true">
    <SfDataManager Url="odata/ApiLogItems" Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
    <GridPageSettings PageCount="5" PageSizes="new int[]{ 5, 10, 50, 100}"></GridPageSettings>
    <GridColumns>
        <GridColumn AutoFit="true" Field=@nameof(ApiLogItem.RequestTime) HeaderText="Zaman"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(ApiLogItem.StatusCode) HeaderText="Http Başarı"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(ApiLogItem.Method) HeaderText="Metod"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(ApiLogItem.ResponseMillis) HeaderText="Cevap Süre"></GridColumn>
        <GridColumn AutoFit="true" Field=@nameof(ApiLogItem.ApplicationUserId) HeaderText="Kullanıcı"></GridColumn>
        <GridColumn Field=@nameof(ApiLogItem.Path) HeaderText="Sorgu Yol"></GridColumn>
    </GridColumns>
</SfGrid>