@page "/"
@using UniLife.CommonUI.Pages.Ogrenci
@using UniLife.CommonUI.Pages.Akademisyen
@using UniLife.CommonUI.Pages.Personel
@using UniLife.CommonUI.Pages.Admin
@using UniLife.CommonUI.Pages.Umum
@inject NavigationManager navigationManager
@inject AppState appState



<div class="content">

    @if (user == null)
    {

    }
    else if (user.IsInRole("Ogrenci"))
    {
        <Ogrenci></Ogrenci>
    }
    else if (user.IsInRole("Personel"))
    {
        <Personel></Personel>
    }
    else if (user.IsInRole("Akademisyen"))
    {
        <Akademisyen></Akademisyen>
    }
    else if (user.IsInRole("Admin"))
    {
        <Dashboard2></Dashboard2>
    }

    <MatSnackbar @bind-IsOpen="@lazySnackbarIsOpen">
        <MatSnackbarContent>Uni-life öğrenci bilgi sistemine hoş geldiniz. <a href="https://www.google.com/" target="_blank">Uni-life</a>.</MatSnackbarContent>
        <MatSnackbarActions>
            <MatIconButton Icon="@MatIconNames.Stars" Link="https://www.google.com/" style="color: white !important;" target="_blank"></MatIconButton>
        </MatSnackbarActions>
    </MatSnackbar>

</div>
@code {


    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    ClaimsPrincipal user;

    protected override async Task OnParametersSetAsync()
    {
        user = (await authenticationStateTask).User;
    }

    bool lazySnackbarIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(TimeSpan.FromSeconds(3)).ContinueWith((_) =>
        {
            this.lazySnackbarIsOpen = true;
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            if (appState.UserNavigationLoadRole == UserRoles.Anonim.ToString())
            {
                navigationManager.NavigateTo("/account/login");
            }
        }
    }

    public void Dispose()
    {
    }

}




