@page "/"




    <div class="content">
        
        @*<Dashboard2></Dashboard2>*@


        <MatSnackbar @bind-IsOpen="@lazySnackbarIsOpen">
            <MatSnackbarContent>Uni-life öğrenci bilgi sistemine hoş geldiniz. <a href="https://www.google.com/" target="_blank">link metni</a>.</MatSnackbarContent>
            <MatSnackbarActions>
                <MatIconButton Icon="@MatIconNames.Stars" Link="https://www.google.com/" style="color: white !important;" target="_blank"></MatIconButton>
            </MatSnackbarActions>
        </MatSnackbar>

    </div>
@functions {
    

    bool lazySnackbarIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(TimeSpan.FromSeconds(3)).ContinueWith((_) =>
        {
            this.lazySnackbarIsOpen = true;
        });
    }

    public void Dispose()
    {
    }

}




