@page "/yoktanimlar"
@inject HttpClient Http;
@using UniLife.Shared.Dto.Definitions
@using UniLife.CommonUI.Pages
@using UniLife.CommonUI.Pages.Definitions.Tabs
@using UniLife.CommonUI.Pages.Definitions.YokTabs
@inject IMatToaster matToaster

    <MatTabGroup>

        <MatTab Label="OgrenimTur">

            <OgrenimTur></OgrenimTur>

        </MatTab>
        <MatTab Label="Fakülte Tur">

            <FakulteTur></FakulteTur>

        </MatTab>
        <MatTab Label="Dönem Tip">

            <DonemTip></DonemTip>

        </MatTab>
        <MatTab Label="Öğrenim Durum">

            <OgrenimDurum></OgrenimDurum>

        </MatTab>
        <MatTab Label="Kayit Neden">

            <KayitNeden></KayitNeden>

        </MatTab>
        <MatTab Label="SinavTip">

            <SinavTip></SinavTip>

        </MatTab>
        <MatTab Label="SinavTur">

            <SinavTur></SinavTur>

        </MatTab>


    </MatTabGroup>


@*<button @onclick="@Switch">Switch</button>*@

@code{
    public bool Visible { get; set; }
    public DateTime? DateValue { get; set; } = DateTime.Now;



}